@font-face 
{
	font-family: AngelicWar;
	src: url('../fonts/AngelicWar.otf'),
		   url('../fonts/AngelicWar.ttf');
}

#angelic 
{
  font-family: AngelicWar;
}

body
{
  background-color: #202020;
  background-repeat: repeat;
  background-size: 150% 150%;
  color: gray;
}

.hero-unit
{
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-color: #333;
}
.helvetica
{
  font-family: helvetica;
}

#fb
{
  width: 32px;
  height: 32px;
  float: right;
}

.float-right
{
  float: right;
}

.well
{
  background-color: #333;
}

.logo 
{
  width: 100%;
  height: auto;
}
