@font-face 
{
	font-family: AngelicWar;
	src: url('../fonts/AngelicWar.otf'),
		   url('../fonts/AngelicWar.ttf');
}

#angelic 
{
  font-family: AngelicWar;
}

body
{
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-size: 150% 150%;
  color: gray;
}

.hero-unit
{
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  /*background-image: image-url('overhead-hi-res.jpg');*/
}

.helvetica
{
  font-family: helvetica;
}

#fb
{
  width: 32px;
  height: 32px;
  float: right;
}

.float-right
{
  /*float: right;*/
}

/*.well
{
  background-color: #333;
}*/

.iwaw-image {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.logo 
{
  width: 100%;
  height: auto;
}


.gigantic {
  padding: 60px 100px;
}

.clouds {
  background-color: #ECF0F1;
}

.silver {
  background-color: #BDC3C7;
}
