@font-face 
{
	font-family: AngelicWar;
	src: url('../fonts/AngelicWar.otf'),
		   url('../fonts/AngelicWar.ttf');

}

#angelic 
{
  font-family: AngelicWar;
}

body
{
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
}

.hero-unit
{
  background-image: url("../images/content_bg2.png");
}
.helvetica
{
  font-family: helvetica;
}

#fb
{
  width: 32px;
  height: 32px;
  float: right;
}

.float-right
{
  float: right;
}
