<p>We are from Salt Lake City, Utah and have a passion for music. Our music is available for free download through this site. Please like our <a href="http://www.facebook.com/IWasaWave">facebook</a> page and shoot us a message! If you are a band wanting to play a show please contact us through our facebook. We are all about helping out other bands and always looking for bands to join forces with, so let us know if you need a website or just want to team up.</p>
<p>Our songs are all recorded and mastered by <a href="http://www.facebook.com/skaughtparry">Skaught Parry</a> at Red Key.</p>
</p>