
	</br>
	<div class="row gigantic">	  
    <div>
      <%= image_tag("logo.png", class: "logo") %>
    </div>
    <a href="http://www.facebook.com/IWasaWave">
      <%= image_tag("fb.png", id: "fb") %> 
    </a>	  
	</div>
		
	<div class="row silver">
    <div class="span7">
      <%= partial "partials/sound_cloud.html"%>
      <div class="pull-right">
        <%= partial "partials/donate.html" %>
      </div>
	  </div>
	
		
  	<div class="span4">
      <div class="page-header">
        <h2>Upcoming Shows</h2>
      </div><!-- page header -->
      <table class="table">
        <thead>
          <tr>
            <th>date</th>
            <th>location</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody class="shows">
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- row -->







