<div class="alert-success alert">
  <p><strong>HEY! We have a show!</strong> We are announcing our first show. It is <strong>Larusso's CD Release Show</strong> at Kilby Court on June 9th, at 7:00pm. Contact us through 
    <a href="http://www.facebook.com/IWasaWave">facebook</a> for pre sale tickets. For more details see below.</p>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
		  <div class="hero-unit">
		    <h1>I Was a Wave<small class="helvetica">Asin(kx - wt)<small></h1>
	      <a href="http://www.facebook.com/IWasaWave">
          <%= image_tag("fb.png", id: "fb") %> 
        </a>
		  </div>
		  <div class="well">
		    <%= image_tag("larusso.jpg", id: "larusso") %>
		  </div>
      <div class="well">
        <%= partial "partials/sound_cloud.html"%>
		  </div>
		</div><!-- span -->
		<div class="span4">
		  <div class="well">
		    <div class="page-header">
  		    <h2>About</h2>
  		  </div>
  		  <%= partial "partials/about.html"%>
  		  <!-- shows -->
  		  <div class="page-header">
    			<h2>Shows</h2>
    		</div><!-- page header -->
  			<table class="table">
    			<thead>
    			  <tr>
    			    <th>date</th>
    			    <th>location</th>
    			    <th>price</th>
    			  </tr>
    			</thead>
    			<tbody>
    			  <tr>
    			    <td>6/9/12 7:00pm</td>
    			    <td><a href="http://g.co/maps/a5aw4">750 Kilby Court, SLC, UT</a></td>
    			    <td>10$</td>
    			  </tr>
    			  <tr>
    			    <td>-</td>
    			    <td>-</td>
    			    <td>-</td>
    			  </tr>
    			</tbody>
  		  </table>
        </div>
  		</div><!--well-->
		</div><!-- span -->
	</div><!-- row fluid -->
</div><!-- /.fluid-container -->


