<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
		  <div class="hero-unit">
		    <h1 id="angelic">I WAS A WAVE><small class="helvetica">under construction<small></h1>
		  </div>
		  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1850251&show_artwork=true"></iframe>	
		    

		  
		</div><!-- span -->
		<div class="span3">
		  <!-- shows -->
		  <div class="page-header">
  			<h2>Shows</h2>
  		</div><!-- page header -->
			<table class="table">
  			<thead>
  			  <tr>
  			    <th>date</th>
  			    <th>location</th>
  			    <th>price</th>
  			  </tr>
  			</thead>
  			<tbody>
  			  <tr>
  			    <td>tba</td>
  			    <td>tba</td>
  			    <td>tba</td>
  			  </tr>
  			  <tr>
  			    <td>tba</td>
  			    <td>tba</td>
  			    <td>tba</td>
  			  </tr>
  			</tbody>
		  </table>
		</div><!-- span -->
	</div><!-- row fluid -->
</div><!-- /.fluid-container -->
