<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
		  <div class="hero-unit">
		    <h1>I Was a Wave<small class="helvetica">Asin(kx - wt)<small></h1>
	      <a href="http://www.facebook.com/IWasaWave">
          <%= image_tag("fb.png", id: "fb") %> 
        </a>
		  </div>
      
		  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1850251&show_artwork=true"></iframe>	
		    

		  
		</div><!-- span -->
		<div class="span3">
		  <div class="page-header">
		    <h2>About</h2>
		  </div>
		  <p>We are from Salt Lake City, Utah and have a passion for music. Our music will be available for free download through this site once we have finished recording. Please like our <a href="http://www.facebook.com/IWasaWave">facebook</a> page and shoot us a message! If you are a band wanting to play a show please contact us through our facebook. We are all about helping out other bands and always looking for bands to join forces with, so let us know if you need a website or just want to team up.</p>
		  <p>Our songs are all recorded and mastered by <a href="http://www.facebook.com/skaughtparry">Skaught Parry</a> at Red Key.</p>
		  <!-- shows -->
		  <div class="page-header">
  			<h2>Shows <small>coming soon :)</small></h2>
  		</div><!-- page header -->
			<table class="table">
  			<thead>
  			  <tr>
  			    <th>date</th>
  			    <th>location</th>
  			    <th>price</th>
  			  </tr>
  			</thead>
  			<tbody>
  			  <tr>
  			    <td>-</td>
  			    <td>-</td>
  			    <td>-</td>
  			  </tr>
  			  <tr>
  			    <td>-</td>
  			    <td>-</td>
  			    <td>-</td>
  			  </tr>
  			</tbody>
		  </table>
		</div><!-- span -->
	</div><!-- row fluid -->
</div><!-- /.fluid-container -->

